<%- include("./partials/header.ejs") %>
    <section id="about">
        <div class="container">
            <div class="about-description">
                <h1>About Us</h1>
                <P>a space built for connection, creativity, and community.🚀<br>
                    We're more than just posts and comments; <br>
                    we're a place where people come together to share ideas,express
                    themselves, and be part of something real.<br>
                    Whether you're here to read, write, or simply explore, this platform is designed to make your voice
                    heard
                    and your presence felt.<br>
                    We believe everyone has a story worth telling — and this is where it begins.</P>
            </div>
            <div class="about-animation">
                <dotlottie-player src="https://lottie.host/634689e6-2741-47d8-9718-bac3c6a8ff3c/8TUNbkHjWM.lottie"
                    background="transparent" speed="1" style="width: 300px; height: 300px" loop
                    autoplay></dotlottie-player>
            </div>

        </div>
    </section>
    <%- include("./partials/footer.ejs") %>