<%- include("./partials/header.ejs") %>
    <section id="contact">
        <div class="container">
            <div class="contact-description">
                <h1 class="cal-sans-regular contact-title"> Contact Us</h1>
                <h2>we can help.</h2>
                <p><strong>Phone: </strong> +9701235813</p>
                <p><strong>Email:</strong> contact@blogx.com</p>
                <p>I'd love to hear from you! Whether you have a question, feedback, or just want to say hi — feel free
                    to reach
                    out.</p>
            </div>
            <div class="contact-animation">
                <dotlottie-player src="https://lottie.host/0ea1aa03-6532-4bc8-b745-21b785969b5e/f5I9z1nknV.lottie"
                    background="transparent" speed="1" style="width: 300px; height: 300px" loop
                    autoplay></dotlottie-player>
            </div>
        </div>
    </section>
    <%- include("./partials/footer.ejs") %>